# bork
bork

# zsh plugins
configs/zsh/plugins

# Mac meta
.DS_Store

# Bash vault
configs/bash_vault

# Brew stderr file
run

# VIm temp files
configs/vim/.netrwhist

# VIm bundles
configs/vim/bundle
