'exception-reporting':
  'userId': 'f637adea-1050-8ece-429a-1a2be9ddef08'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'a3d0e1b721f417804bf9c8a098629757bafe5628'
'core':
  'themes': [
    'spacegray-dark-ui'
    'spacegray-dark-syntax'
  ]
