"*":
  "exception-reporting":
    userId: "f637adea-1050-8ece-429a-1a2be9ddef08"
  welcome:
    showOnStartup: false
  metrics:
    userId: "a3d0e1b721f417804bf9c8a098629757bafe5628"
  core:
    themes: [
      "spacegray-dark-ui"
      "spacegray-dark-syntax"
    ]
  editor:
    showIndentGuide: true
    preferredLineLength: 100
    tabLength: 2
    invisibles: {}
    showInvisibles: true
  "highlight-line": {}
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  hashrocket:
    nodeExecutablePath: "/usr/local/bin/node"
    phpExecutablePath: "/usr/local/bin/php"
    pythonExecutablePath: "/usr/local/bin/python"
    rubyExecutablePath: "/usr/bin/ruby"
